<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert URL</title>
  <link type="text/css" rel="stylesheet" href="../static/style.css" imagesrcset="logo.png" as="image">
</head>
<body>
<header>
    <h1>SmokappStore</h1>
    <h2>Convert URL to mp3</h2>
</header>
<nav>
  <a href="index.html">Home</a>|
  <a href="convert.html">Convert URL</a>|
  <a href="terms.html">Terms & Conditions</a>|
  <a href="policy.html">Privacy Policy</a>|
</nav>
<main>
  <form action="convert.html/" method="get">
    <label for="url">Enter URL:</label>
    <input type="text" id="url" name="url" required>
    <button onclick="const convert_mp3 = function(send_file, mp3_file) {

    }"
    >Dload</button>
  </form>
</main>
</body>
<footer>
<p>&copy; 2024-2025 OneDload by SmokappStore</p>
</footer>

</html>