<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="icon" href="/img/favicon.ico">
  <meta charset="UTF-8">
  <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneDload</title>
  <link type="text/css" rel="stylesheet"  href="../static/style.css">
</head>
<body>
<header>
  <h1>SmokappStore</h1>
</header>
<nav>
  <a href="index.html">Home</a>|
  <a href="convert.html">Convert URL</a>|
  <a href="terms.html">Terms & Conditions</a>|
  <a href="policy.html">Privacy Policy</a>|
</nav>
<main>
  <p>Descarga directa de archivos MP3 en alta resolución. Nuestra plataforma te ofrece una experiencia de descarga rápida y segura.</p>
</main>
<footer>
 <p>&copy; 2024-2025 OneDload by SmokappStore</p>
</footer>
</body>
</html>